<div class="main-container">
     <span>
         <img height="150" src="{{imagesSrc.finger_0}}">
         <img height="150" src="{{imagesSrc.equal}}">
         <img height="150" src="{{imagesSrc.question_mark}}">
    </span> <hr/>
    <span>
            <img height="150" src="{{imagesSrc.finger_0}}">
            <img height="150" src="{{imagesSrc.finger_1}}">
            <img height="150" src="{{imagesSrc.finger_2}}">
            <img height="150" src="{{imagesSrc.finger_3}}">
            <img height="150" src="{{imagesSrc.finger_4}}">
            <img height="150" src="{{imagesSrc.finger_5}}">

       </span>
</div>


